[Desktop Entry]
Name=Aceplay
Comment=Reproduce streams AceStream
Exec=aceplay %u
Type=Application
Terminal=true
Icon=video-x-generic
Categories=AudioVideo;Video;Network;
MimeType=x-scheme-handler/acestream;
StartupNotify=false
